

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* Fixed Header and Navigation */

header {
	height: 69px;
	border-bottom: 1px solid seashell;
	width: 100%;
	position: fixed;
	z-index: 999;
  top: 0;
  background-color: black;
}

#logo {
	height: 50px;
	margin-left: 10px;
  margin-top: 10px;
}

nav {
	float: right;
  margin-right: 2%;
}

header li {
	list-style: none;
	text-decoration: underline;
	display: inline-block;
  padding-right: 10px;
}

/* Main Section */

main {
  margin-top: 69px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Mission Section */

#mission {
	height: 700px;
	margin: 0 auto;
	background-image: url("img-mission-background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: black;
  width: 1200px;
  text-align: center;
}


/* Featured Section */

#featured {
width: 1000px;
position: relative;
margin: 0 auto;
margin-top: 7%;
text-align: center;
}

.feat {
  display: inline-block;
}

#featured img {
  height: 200px;
  width: 300px;
  margin-bottom: 0px;
}

#featured h4 {
  margin-top: 10px;
}

/* Locations Section */

#locations {
  height: 500px;
	width: 1200px;
	margin: 0 auto;
	background-image: url("img-locations-background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
}

.loc-box {
  display: inline-block;
  width: 300px;
  background-color: black;
  text-align: center;
}

/* Footer */

footer {
  height: 200px;
  background-color: black;
  text-align: center;
}

#copyright {
  margin-left: 20px;
  text-align: left;
}
